// Portrait tablet to landscape and desktop
@media (max-width: 1199px) {
	body {
		padding: 0;
	}
}


// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
	.main-container {
		padding: 0 5px;
	}
}

@media (max-width: 979px) {
	#site-header {
		.navbar {
			background: #ed1c24;
			.btn-navbar {
				float: none;
				position: absolute;
				top: 40px;
				right: 20px;
				margin: 0;
				background: @black;
			}
			.navbar-inner {
				margin: 0;
				padding: 0;
				min-height: 95px;
				background: #ed1c24;
			}
			.nav {
				margin-top: 10px;
			}
			.nav li {
				border-top: none;
			}
			.nav > li > a {
				.rotate(0deg);
			}
		}
	}
}

// Phones only
@media (max-width: 767px) {
	.main-container {
		padding: 0 5px;
	}
	.large-heading {
		margin-top: 20px;
		font-size: 40px;
	}
	#boojer-bio-container {
		padding: 0 5px;
	}
}


// small only
@media (max-width: 655px) {
	#boojer-bio-container {
		padding: 0 5px;
	}
	#boojer-home-circle {
		margin: 40px;
		left: 0;
	}
	#boojers-page .boojers-nav button {
		width: 100%;
		float: none;
		display: block;
		margin-top: 2px;
	}
}