body {
     background: @grayDark;
}
.main-container {
     background: url(/img/gray-triangle.png) 0 0 no-repeat @white;
     padding-bottom: 70px;
}

#site-header {
     background: @grayDarker;
     .navbar {
          margin: 0;
          .navbar-inner {
               margin: 0;
               padding: 0;
               min-height: 95px;
               .border-radius(0);
               border: none;
               background: @grayDarker; 
          }
          .nav-collapse {
               background: @grayDarker;  
          }
          .brand {
               margin: 0;
               padding: 0;
          }
          .nav {

          }
          .nav > li {
               background: @grayDarker;
          }
          .nav > li > a {
               font-size: 16px;
               text-transform: lowercase;
               color: @red;
               .rotate(40deg);
               text-shadow: none;
          }
          .nav > .active > a,
          .nav > li > a:hover,
          .nav > li > a:focus {
               color: @white;
          }
     }
}

#boojer-home-circle {
     background: url(/img/boojer-circle.png) no-repeat 0 0 transparent;
     position: absolute;
     display: block;
     top: 65px;
     right: 155px;
     width: 372px;
     height: 372px;
     .clearfix();
     > div {
          margin: 144px 0 0 90px;
          width: 218px;
          float: left;
     }
     p {
          color: @white;
          font-size: 14px;
          margin: 0 0 7px 0;
     }
     p.title {
          font-size: 18px;
     }
}

.content-heading {
     margin-bottom: 50px;
     p {
          font-size: 16px;
          line-height: 22px;
          color: @gray;
     }
}

#home-gallery {
     .imageContainer {
          margin: 2px;
          float: left;
          overflow: hidden;
          height: 170px;
          img {
               max-width: none;
          }
     }
} 


#boojer-gallery {
     .thumbnails {
          margin-left: -30px;
          li {
               position: relative;
               width: 272px;
               min-height: 269px;
               margin: 0 0 30px 30px;              
               background: @grayMedium;
               img {
                    margin: 1px;
               }
               > div {
                    padding: 20px;
               }
               h3 {
                    color: @darkRed;
                    font-size: 18px;
                    line-height: normal;
                    margin: 0;
               }
               p {
                    font-size: 12px;
                    margin: 0;
                    color: @black;
                    font-style: italic;
                    line-height: normal;
               }
               a.gallery-slideshow-btn {
                    position: absolute;
                    top: 151px;
                    right: 1px;
                    text-indent: -500px;
                    width: 115px; 
                    height: 40px;
                    background: url(/img/slideshow-btn.png) no-repeat 0 0 transparent;
                    overflow: hidden;
               }
          }
     }
     .full-gallery-thumbnails {
          li {
               min-height: auto;
          }
     }
}

#gallery-viewer {
     .gallery-viewer-left {
          display: table;
          position: relative;
     }
     .gallery-viewer-gallery-info {

     }
     .gallery-viewer-image {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          img {
               max-width: 100%;
               max-height: 100%;
          }
     }
     .gallery-viewer-nav {
          position: absolute;
          top: 46%;    
          float: left;      
     }
     .gallery-viewer-next {
          right: 5px;

     }
     .gallery-viewer-prev {
          left: 5px;
     }
     .gallery-viewer-photo-info {
          ul {
               margin: 0;
               li {
                    float: left;
                    margin: 0 10px 10px 0;
                    img {
                         width: 40px;
                         margin-right: 5px;
                    }
               }
          }
     }
     .gallery-viewer-right {

     }
     .gallery-image-loading {

     }
     .gallery-viewer-photo-number {
          margin: 30px 0 0 0;
          font-size: 11px;
          font-style: italic;
     }
}


.tumbler-item {
     margin: 0 0 30px 0;
     background: @white;
     border: 1px solid @grayMedium;
     .tumbler-caption {
          background: @white;
          padding: 20px;
     }
     .tumbler-quote-text {
          color: @red;
          font-style: italic;
          font-size: 24px;
          margin: 0;
          padding: 20px;
          line-height: 30px;
     }
      .tumbler-tweet-text {
          color: @white;
          font-style: italic;
          font-size: 24px;
          margin-bottom: 15px;
          line-height: 30px;
     }    
}
.tumbler-tweet {
     background: #00aced;
     color: @white;
     padding: 20px;
}

#boojers-page .boojers-nav {
     button {
          width: 50%;
          float: left;
          background: @red;
          display: block;
          padding: 0;
          border: none;
          font-size: 24px;
          line-height: 28px;
          color: @white;
          span {
               display: block;
               padding: 25px 65px;
          }
          &:hover,
          &.active {
               .box-shadow(~"inset 0 0 16px 2px rgba(0,0,0,.75)");
          }
     }
}
.no-boxshadow #boojers-page .boojers-nav {
     button span {
          border: 4px solid transparent;
          padding: 20px 60px;
     }
     button:hover span,
     button.active span {
          border-color: @grayMedDark;
     }
}

#boojers-page .boojer-tab {
     display: none;
     .thumbnails {
          margin-left: -30px;
          li {
               width: 204px;
               float: left;
               margin: 0 0 30px 30px;              
               background: @grayMedium;
               img {
                    margin: 1px;
                    max-height: 170px;
               }
               > div {
                    margin: 12px;
                    height: 40px;
               }
               h3 {
                    color: @darkRed;
                    font-size: 18px;
                    line-height: normal;
                    margin: 0;
               }
               p {
                    font-size: 11px;
                    margin: 0;
                    color: @black;
                    font-style: italic;
                    line-height: normal;
               }
          }
     }
     &.active {
          display: block;
     }
     .boojer-tag-list {
          .clearfix();
          margin: 30px 0;
          li {
               height: 52px;
          }
     }
}

.show-taged {
     display: inline-block;
     padding: 10px;
     text-align: center;
     text-transform: uppercase;
     font-size: 14px;
     color: #d5d5d5;
     margin-right: 1px;
     background: @grayMedDark;
     margin-top: 6px;
     cursor: pointer;
     &.active {
          margin-top: 0;
          padding-top: 16px;
          padding-bottom: 16px;
          background: #eb2e35 !important;
          color: #d5d5d5 !important;
     }
}


.bio-tag-list {
     .clearfix();
     li {
          float: left;
          margin-right: 10px;
     }
     span {
          display: inline-block;
          padding: 6px 20px;
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
          color: #d5d5d5;
          margin-right: 1px;
          background: @grayMedDark;
     }
}

#boojer-bio-ajax {
      background: @white;
     padding-top: 60px;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     z-index: 6000;
}

#boojer-bio-container {
     .boojer-bio-section-nav {
          background: @grayMedium;
          .border-radius(16px);
          a {
               font-size: 12px;
               text-transform: uppercase;
               text-decoration: none;
               padding: 8px;
               color: @white;
               float: left;
               background: @grayMedium;
               .border-radius(16px);
               &.active {
                    background: @red;
               }
          }
     }
     .bio-section {
          h2 {
               margin: -9px 0 30px 0;
               font-size: 40px;
               line-height: normal;
          }
          .bio-title {
               font-size: 18px;
               margin: 0;
               text-transform: uppercase;
               line-height: normal;
               color: @grayDarker;
          }
          .bio-twitter {
               font-size: 24px;               
          }
     }
     .bio-tag-list li {
          margin-bottom: 10px;
     }
     .main-photo {
          border: 1px solid #ccc;
     }
     .bio-photos {
          h3 {
               color: @grayDarker;
               margin: 0 0 10px 0;
               font-size: 24px;
               line-height: normal;
          }
          .thumbnails {
               margin: 0 0 0 -30px;
               padding: 0;
               list-style: none;
               li {
                    width: 270px;
                    margin: 0 0 30px 30px;
                    float: left;
               }
          }
     }
}

// DEFINE OUR TAG COLORS
span.all-label
span.back-end-developer-label,
span.creatives-label,
span.front-end-developer-label,
span.data-label,
span.project-managers-label,
span.quality-assurance-label,
span.sales-label,
span.marketing-label {
     color: #d5d5d5;
     background: @grayMedDark;
}
span.bookworm-label {
     background: #f811fa;
     color: @white;
}
span.beer-enthusiast-label {
     background: #79cfff;
     color: @white;
}
span.crafter-label {
     background: #f0ec34;
     color: @black;
}
span.film-buff-label {
     background: #4a0003;
     color: @white;
}
span.foodie-label {
     background: #a00309;
     color: @white;
}
span.gamer-label {
     background: #f75011;
     color: @white;
}
span.musician-label {
     background: #d6290f;
     color: @white;
}
span.photographer-label {
     background: #0378ba;
     color: @white;
}
span.outdoorsy-label {
     background: #d60f78;
     color: @white;
}
span.sports-fan-label {
     background: @grayMedDark;
     color: @white;
}


#footer-top {
     background: @grayDarker;
     padding: 10px 5px;
}
#footer-bottom {
     background: @grayDark;
     padding: 50px 5px 20px 5px;
     color: @white;
     font-size: 20px;
     line-height: 26px;
     h3 {
          color: @white;
     }
     address {
          line-height: 26px;
          font-size: 20px;
          margin: 0 0 20px 0;
     }
}
